/*Help Afghan Refugees*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{ /*flexbox setup for the header -Riley*/
	background-color: #92000a;
	display: flex;
	align-items: center;
	padding: .5%;
	position: sticky;
	top: 0;
	z-index: 2;
}

header a, header p{ /*Affects the text for the links in the header, added to reduce clutter in the style elements.
	I was originally doing this with a class but I remembered reading that the syntax "EXParent EXElement{}" 
	lets you effect every "EXElement" contained by EXParent. I used this to clean up the HTML -Riley*/
	font-size:  20px;
	text-align: center;
	text-decoration: none;
	color: white;
}

footer{
	background-color: #92000a;
	color: white;
	text-align: center;
}

div.SorucesMainText{
	margin-left: 50px;
	margin-right: 50px;
}

div.UnicefText, div.HIASText, div.LSFText, div.localSources{
	margin-left: 50px;
	margin-right: 50px;
}

body{
	background-size: cover;
	background-attachment: fixed;
	background-image: https://media.npr.org/assets/img/2021/08/17/ap21229362252164-736ffbe85de1ba5af718d7481e5ba322f18b8c0e.jpg;
}

div.googleTranslate{
	justify-content: center;
}