/*Volunteer*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{ /*flexbox setup for the header -Riley*/
	background-color: #92000a;
	display: flex;
	align-items: center;
	padding: .5%;
	position: sticky;
	top: 0;
	z-index: 2;
}

header a, header p{ /*Affects the text for the links in the header, added to reduce clutter in the style elements.
	I was originally doing this with a class but I remembered reading that the syntax "EXParent EXElement{}" 
	lets you effect every "EXElement" contained by EXParent. I used this to clean up the HTML -Riley*/
	font-size:  20px;
	text-align: center;
	text-decoration: none;
	color: white;
}

footer{
	background-color: #92000a;
	color: white;
	text-align: center;
}

div.googleTranslate{
	/*/justify-content: center;*/
}

div.Text1{
	margin-left: 50px;
	margin-right: 50px;
}

div.volunteerPart{
	margin-top: 20px;
	margin-left: 130px;
}

div.volunteerImagePart{
	margin-right: 80px;
}

div.eventTable{
	justify-content: center;
}

div.Buttons{
	margin-left: 80px;
}

.dropdown-content { /*hides the content in the dropdown-content class*/
	display: none;
 	position: absolute;
 	background-color: #f1f1f1;
 	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1; /*ensures the dropdown appears on top*/
}

.dropdown-content a { /* styles the links in dropdown content*/
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;} /*makes links change color when hovered*/

.dropdown:hover .dropdown-content {display: block;} /*shows dropdown content when hovered over*/

.dropdown:hover .dropbtn {color: lightgray;}/*changes color of dropdown title when hovered*/


p.dropbtn{
	margin-bottom: 10px;
	margin-top: 10px;
	width: fit-content;
	margin-left: 30px;
}

.footerPart1 a, .footerPart2 a{
	color: white;
	text-decoration: none;
}

div.googleTranslate{
	justify-content: center;
}

#line1{
	width: 1400px;
	color: black;
	margin-left: 50px;
}

a:link {
  text-decoration: none;
  color: #92000a;
}

img#volunteerImage{
	margin-top: 70px;
}

